---
pagination:
  data: redirects
  size: 1
  alias: redirect
eleventyComputed:
  permalink: "{{ redirect.path }}"
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <meta http-equiv="refresh" content="0;url={{ redirect.target }}">
    <link rel="canonical" href="{{ site.url }}/">
    <title>{{ site.title }}</title>
  </head>
  <body><p>This page has moved. <a href="{{ redirect.target }}">Continue to {{ site.name }}'s homepage</a>.</p></body>
</html>
